In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC

In [44]:
df = pd.read_csv('Dataset/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [45]:
x = df.iloc[:,0:4]
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [46]:
y = df.iloc[:,-1]
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [47]:
x_train , x_test , y_train , y_test=train_test_split(x,y,test_size=0.2 , random_state=2)

In [48]:
x_train.shape

(120, 4)

In [49]:
x_test.shape

(30, 4)

In [50]:
y_train.shape

(120,)

In [51]:
y_test.shape

(30,)

In [53]:
tr=LabelEncoder()
tr
a=  tr.fit_transform(y_train )
b = tr.fit_transform(y_test)

In [57]:
svm = SVC(kernel='linear' ,random_state=0)
svm.fit(x_train,a)

SVC(kernel='linear', random_state=0)

In [61]:
y_pred= svm.predict(x_test)
y_pred

array([0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 1, 0, 1, 2, 1, 1, 1,
       2, 1, 1, 0, 0, 2, 0, 2])

In [62]:
from sklearn.metrics import accuracy_score ,confusion_matrix
print("Accuracy score - " , accuracy_score(y_test,y_pred))

Accuracy score -  0.0

In [ ]:
pd.DataFrame(confusion_matrix(y_test , y_pred))