In [57]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [58]:
df = pd.read_csv('Dataset/Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [59]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [60]:
df.drop(columns=['User ID' , 'Gender'],inplace=True)

In [61]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [62]:
x = df.iloc[:,0:2]
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [63]:
y  = df.iloc[:,2]
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [64]:
x_train , x_test , y_train , y_test=train_test_split(x,y,test_size=0.2 , random_state=2)

In [65]:
x_train.shape

(320, 2)

In [66]:
x_test.shape

(80, 2)

In [67]:
y_train.shape

(320,)

In [68]:
y_test.shape

(80,)

In [69]:
tr = StandardScaler()
a = tr.fit_transform(x_train)
b= tr.fit_transform(x_test)

In [70]:
svm = SVC(kernel='linear' ,random_state=0)
svm.fit(a,y_train)

SVC(kernel='linear', random_state=0)

In [71]:
y_pred= svm.predict(b)
y_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

In [72]:
from sklearn.metrics import accuracy_score ,confusion_matrix
print("Accuracy score" , accuracy_score(y_test,y_pred))

Accuracy score 0.8125

In [73]:
pd.DataFrame(confusion_matrix(y_test , y_pred))

    0   1
0  46   2
1  13  19