In [429]:
import pandas as pd 
from sklearn.impute import SimpleImputer

df = pd.read_csv('covid.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [430]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [431]:
df.fillna(method='ffill' , inplace=True)

In [432]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [433]:
x = df.iloc[:,0:5]
print("x : " , x.shape)
y = df.iloc[:,-1]
print("y : ", y.shape)

x :  (100, 5)
y :  (100,)

In [434]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test=train_test_split(x,y,train_size=0.8 , random_state=1)

In [435]:
x_train

    age  gender  fever   cough       city
2    42    Male  101.0    Mild      Delhi
73   34    Male   98.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
62   56  Female  104.0  Strong  Bangalore
19   42  Female   98.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
75    5    Male  102.0    Mild    Kolkata
9    64  Female  101.0    Mild      Delhi
72   83  Female  101.0    Mild    Kolkata
12   25  Female   99.0  Strong    Kolkata
37   55    Male  100.0    Mild    Kolkata

[80 rows x 5 columns]

In [436]:
y_train

2      No
73    Yes
97     No
62    Yes
19    Yes
     ...
75    Yes
9      No
72     No
12     No
37     No
Name: has_covid, Length: 80, dtype: object

In [437]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder,MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

trf1=ColumnTransformer(transformers=[
    ('tr1' , SimpleImputer(),[2]),
    ('tr2',OneHotEncoder(sparse=False ,handle_unknown='ignore' ),[1,4]),
    ('tr3',OrdinalEncoder( categories=[['Mild' ,'Strong']]),[3])
],remainder='passthrough')

trf1

ColumnTransformer(remainder='passthrough',
                  transformers=[('tr1', SimpleImputer(), [2]),
                                ('tr2',
                                 OneHotEncoder(handle_unknown='ignore',
                                               sparse=False),
                                 [1, 4]),
                                ('tr3',
                                 OrdinalEncoder(categories=[['Mild',
                                                             'Strong']]),
                                 [3])])

In [438]:
# trf2=ColumnTransformer(transformers=[
#      ('tr2',OneHotEncoder(drop='first',sparse=False  ),[2,4]),
#      #('tr3',OrdinalEncoder( categories=[['Mild' ,'Strong']]),[3])

# ],remainder='passthrough')

# trf2

In [439]:
# trf3=ColumnTransformer(transformers=[
    
#      ('tr3',OrdinalEncoder( categories=[['Mild' ,'Strong']]),[3])

# ],remainder='passthrough')

# trf3

In [440]:
# trf4=ColumnTransformer(transformers=[
    
#      ('tr4',MinMaxScaler(),[0])

# ],remainder='passthrough')

# trf4

In [441]:
df['cough'].unique()

array(['Mild', 'Strong'], dtype=object)

In [442]:
# from sklearn.linear_model import LogisticRegression

# lr = LogisticRegression()

In [443]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()

In [444]:
from sklearn.svm import SVC
svc = SVC()

In [445]:
from sklearn.pipeline import Pipeline,make_pipeline

pipe = Pipeline([
    ('trf1',trf1),
    #('trf2' , trf2),
    #('trf3',trf3),
    #('trf4',trf4),
    #('lr',lr)
    #('rfc',rfc)
    ('svc',SVC)
])

In [446]:
pipe.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [ ]:
pipe.named_steps

In [ ]:
y_pred = pipe.predict(x_test)
y_pred

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(  y_test,y_pred)

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val_score(pipe,x_train,y_train,cv=4,scoring='accuracy').mean()

In [ ]:
import pickle

pickle.dump(pipe,open('covid.plk', 'wb'))