Consider the following drug dataset.

1. Import the given data file using pandas and create a dataframe drug_df.

(Data set in csv format can be downloaded from Data and Code used in the course section and use drug.csv)

In [12]:
import pandas as pd

In [17]:
drug_df = pd.read_csv('Dataset/drug.csv')
drug_df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY