In [34]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense,Dropout,Flatten

In [19]:
df = pd.read_csv('Dataset/boston_housing.csv', usecols=['INDUS' , 'RM' , 'TAX' , 'DIS' , 'MEDV'])
df.head()

   INDUS     RM     DIS  TAX  MEDV
0   2.31  6.575  4.0900  296  24.0
1   7.07  6.421  4.9671  242  21.6
2   7.07  7.185  4.9671  242  34.7
3   2.18  6.998  6.0622  222  33.4
4   2.18  7.147  6.0622  222  36.2

In [20]:
x=df[['RM','DIS','TAX','INDUS',]]
x

        RM     DIS  TAX  INDUS
0    6.575  4.0900  296   2.31
1    6.421  4.9671  242   7.07
2    7.185  4.9671  242   7.07
3    6.998  6.0622  222   2.18
4    7.147  6.0622  222   2.18
..     ...     ...  ...    ...
501  6.593  2.4786  273  11.93
502  6.120  2.2875  273  11.93
503  6.976  2.1675  273  11.93
504  6.794  2.3889  273  11.93
505  6.030  2.5050  273  11.93

[506 rows x 4 columns]

In [21]:
y=df[['MEDV']]
y

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [22]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.67 ,random_state=2)

In [23]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [24]:
lr.fit(x_train,y_train)

LinearRegression()

In [25]:
y_pred=lr.predict(x_test)
y_pred.shape

(167, 1)

In [28]:
from sklearn.metrics import accuracy_score,r2_score

In [29]:
r2_score(y_pred,y_test)

0.27446274457913145

In [35]:
model = tf.keras.models.Sequential([
    Dense(units=5,use_bias=True),
    Dense(128 , activation='relu',use_bias=True),
    Dense(10,activation='softmax',use_bias=True)

])

In [38]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['mse'])

In [42]:
model.fit(x_train , y_train , epochs=10)

Epoch 1/10
11/11 [==============================] - 0s 0s/step - loss: 584.5750 - mse: 584.5750
Epoch 2/10
11/11 [==============================] - 0s 2ms/step - loss: 584.5749 - mse: 584.5749
Epoch 3/10
11/11 [==============================] - 0s 0s/step - loss: 584.5750 - mse: 584.5750
Epoch 4/10
11/11 [==============================] - 0s 2ms/step - loss: 584.5749 - mse: 584.5749
Epoch 5/10
11/11 [==============================] - 0s 0s/step - loss: 584.5748 - mse: 584.5748
Epoch 6/10
11/11 [==============================] - 0s 2ms/step - loss: 584.5750 - mse: 584.5750
Epoch 7/10
11/11 [==============================] - 0s 0s/step - loss: 584.5748 - mse: 584.5748
Epoch 8/10
11/11 [==============================] - 0s 257us/step - loss: 584.5750 - mse: 584.5750
Epoch 9/10
11/11 [==============================] - 0s 1ms/step - loss: 584.5750 - mse: 584.5750
Epoch 10/10
11/11 [==============================] - 0s 0s/step - loss: 584.5750 - mse: 584.5750

In [40]:
model.evaluate(x_test,y_test)

6/6 [==============================] - 0s 3ms/step - loss: 594.1661 - mse: 594.1661

[594.1660766601562, 594.1660766601562]