Using the dataframe created in the Exercise - 2, perform the following:

In [1]:
import pandas as pd

In [2]:
drug_df = pd.read_csv('Dataset/drug.csv')
drug_df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

1. Return the number of rows in the dataframe.

In [5]:
drug_df.shape

(200, 6)

2. Find the number of missing values in each column.

In [6]:
drug_df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

3. If there are any missing values in the column 'condition', fill them with 'No condition specified'.

In [11]:
# thir are no null val

drug_df.fillna('no').head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

4. Display all the rows which have 'Highly Effective' or 'Considerably Effective' in the 'effectiveness' column.

5. Create a column 'Side_Effect_Rating'. Follow the below rules to fill this column from the data points in 'SideEffects' column.