1. Consider the column 'y' as the target variable. From the remaining columns, consider all except 'duration' as predictors.

2. Encode the predictors to convert them to numerical data.

3. Split the data into train and test with a ratio of 80:20.

4. Build a model using Decision Tree algorithm, to predict the target.

5. Determine the accuracy, precision and recall for every class in the outcome.

6. Modify the hyperparameters, and build a new model. Compare the performance of both models.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
df = pd.read_csv('Dataset/bank-additional-full.csv' , usecols=['age' , 'job' , 'marital' , 'education' , 'default' , 'housing' , 'loan' , 'contact' , 'month' , 'day_of_week' , 'campaign' , 'pdays' , 'previous' , 'poutcome' , 'emp.var.rate' , 'cons.price.idx' ,'cons.conf.idx' , 'euribor3m' , 'nr.employed' , 'y'])
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  campaign        41188 non-null  int64
 11  pdays           41188 non-null  int64
 12  previous        41188 non-null  int64
 13  poutcome        41188 non-null  object
 14  emp.var.rate    41188 non-null  float64
 15  cons.price.idx  41188 non-null  float64
 16  cons.conf.idx   41188 non-null  float64
 17  euribor3m       41188 non-null  float64
 18  nr.employed     41188 non-null  float64
 19  y               41188 non-null  object
dtypes: float64(5), int64(4), object(11)
memory usage: 6.3+ MB

In [49]:
x = df.iloc[:,0:19]
x.shape

(41188, 19)

In [51]:
y = df.iloc[:,-1]
y

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [78]:
from sklearn.preprocessing import OneHotEncoder , OrdinalEncoder , StandardScaler
from sklearn.compose import ColumnTransformer
tr = ChildProcessError(transformers=[
    ('tr1' , OrdinalEncoder(),['job' , 'marital' , 'education' , 'month' ,'day_of_week' ,'' ])
])

SyntaxError: invalid syntax (3211541520.py, line 3)

In [73]:
encode

OneHotEncoder()

In [57]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test=train_test_split(x,y,train_size=0.80 ,random_state=100)

In [59]:
print("x_train : " , x_train.shape)
print("x_test : " , x_test.shape)
print("y_train : " , y_train.shape)
print("y_test :" , y_test.shape)

x_train :  (32950, 19)
x_test :  (8238, 19)
y_train :  (32950,)
y_test : (8238,)

In [77]:
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier()

dtc.fit_transform(x_train , y_train)

AttributeError: 'DecisionTreeClassifier' object has no attribute 'fit_transform'